[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ThirdParty/volk"]
	path = ThirdParty/volk
	url = https://github.com/zeux/volk.git
[submodule "ThirdParty/vulkan"]
	path = ThirdParty/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ThirdParty/simdjson"]
	path = ThirdParty/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ThirdParty/vma"]
	path = ThirdParty/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ThirdParty/glslang"]
	path = ThirdParty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "ThirdParty/spirv-tools"]
	path = ThirdParty/spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "ThirdParty/spirv-headers"]
	path = ThirdParty/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "ThirdParty/taskflow"]
	path = ThirdParty/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "ThirdParty/spirv_cross"]
	path = ThirdParty/spirv_cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "ThirdParty/spirv-reflect"]
	path = ThirdParty/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "ThirdParty/assimp"]
	path = ThirdParty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "ThirdParty/meshoptimizer"]
	path = ThirdParty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "ThirdParty/entt"]
	path = ThirdParty/entt
	url = https://github.com/skypjack/entt.git
